/*
*	File Type: SCSS Styles
*	Path: client/styles/raw.scss
*/ 

@import "lib/assets/bourbon/bourbon";
@import "lib/assets/neat/neat";
@import "lib/assets/base/base";

$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(min-width 480px);
$desktop: new-breakpoint(min-width 992px);
$desktop-xl: new-breakpoint(min-width 1220px);



.wrapper { @include outer-container; }

